:root {
    --bg-button: #deeeddac;
    --border-button: solid 1px #888;
}

.button {
    font-size: 1.4em;
    background-color: var(--bg-button);
    border: none;
    border-right: var(--border-button);
    border-bottom: var(--border-button);
    outline: none;
}

.button:active {
    background-color: #bcefb904;
    
}

.button.double {
    grid-column: span 2;
}

.button.triple {
    grid-column: span 3;
}

.button.operation {
    background-color: rgba(0, 139, 139, 0.473);
    color: #FFF;

}

.button.button.operation:active {
    background-color:  darkcyan;
}